h1{
    color: orange;
}
th, td{
    padding: 5px 15px 5px 15px;
}
.Prix-unitaire, .prix-total{
    text-align: right;
}
.quantite{
    color: green;
    display: flex;
    justify-content: space-between;
}
.validation{
    text-align: center;
}
.total{
    color: red;
    font-size: 2rem;
    text-align: right;
}
.recap{
    text-align: right;
    font-size: 2rem;
}
button{
    color: aliceblue;
    font-size: 2rem;
    background-color: #77DD77;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.entete{
    background-color: aqua;
}
.fa-circle-minus, .fa-circle-plus{
    color: orange;
}
.supprimer:hover, .like:hover, .fa-circle-minus:hover, .fa-circle-plus:hover{
    cursor: pointer;
}
.article:hover{
    background-color: #f0f0f2;
}
